<div id="paging" class="row"> 
  <div class="col-xs-5 text-right">
      <button [disabled]="disablePrevButton" (click)="prevHint()" class="paging-button">Previous</button>
  </div>
  <div id="hint-progress" class="col-xs-2 text-center ">
          <div class="hint-progress-indicator" *ngIf="currentHintIndex > 0">{{currentHintIndex - 1}}</div>
          <div class="hint-progress-indicator hint-progress-indicator-current">{{currentHintIndex}}</div>
          <div class="hint-progress-indicator" *ngIf="currentHintIndex < numberOfHints - 1 ">{{currentHintIndex + 1}}</div>
  </div>
  <div class="col-xs-5 text-left">
      <button (click)="nextHint()" class="paging-button">{{nextButtonText}}</button>
  </div>
</div>