<div id="paging" class="row"> 
    <div class="col-xs-5 text-right">
        <button [style.pointerEvents]="pagingPointerEvents" [disabled]="disablePrevButton" (click)="prevHint()" class="paging-button">Previous</button>
    </div>
    <div id="hint-progress" class="col-xs-2 text-center ">
            <div class="hint-progress-indicator" *ngIf="currentHintIndex > 0">{{currentHintIndex}}</div>
            <div class="hint-progress-indicator hint-progress-indicator-current">{{currentHintIndex + 1}}</div>
            <div class="hint-progress-indicator" *ngIf="currentHintIndex < numberOfHints - 1 ">{{currentHintIndex + 2}}</div>
    </div>
    <div class="col-xs-5 text-left">
        <button [style.pointerEvents]="pagingPointerEvents" (click)="nextHint()" class="paging-button">{{nextButtonText}}</button>
    </div>
</div>
  