@import url(https://fonts.googleapis.com/css?family=Lato);

#paging {
    bottom: 1em;
    position: fixed;
    z-index: 5000;
    display: block;
    width: 100%;  
    left: 0px;
    font-family: Lato;
}

#hint-progress { 
    padding: 7px;
}

.hint-progress-indicator {
    background-color: rgb(57, 66, 60);
    box-shadow: 0 4px 8px 0.3em rgba(0, 0, 0, 0.2), 0 6px 20px 0.3em rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    height: 22px;
    width: 22px;
    text-align: center;
    display: inline-block;
    font-family: 'Lato';
    position: relative;
    z-index: 5000;
    color: white;
}

.hint-progress-indicator-current {
    color: #555555;
    background-color: white;
}

.paging-button {
    display: inline-block;
    border: 2px solid #555555;
    background-color: #555555;
    color: white;
    padding: 7px;
    text-align: center;
    text-decoration: none;
    min-width: 71px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: 'Lato';
    position: relative;
    z-index: 5000;
}

.paging-button:hover {
    color: #555555;
    border: 2px solid #555555;
    background-color: white;
}

.paging-button:disabled {
  border: 2px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: default;
}